<div class="hello">
  <div class="hello-name">
    Hello, {{userCreds.user_name}}
  </div>
  <form class="logout-form" action="/logout" method="post">
    <button type="submit" name="logout-button" class="logout-button">Log Out</button>
  </form>
</div>
<h1>Add a new post</h1>
<form class="new-post-form" action="/add-post" method="post">
  <input type="text" name="title" value="" placeholder="Title" class="post-input" required>
  <input type="text" name="text_content" value="" placeholder="What do you want to share?" class="post-input" required>
  <input type="url" pattern="^(|https?:\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?)$" name="pic_url" value="" placeholder="Post a picture URL" class="post-input">
  <input type="number" name="user_id" value="{{userCreds.user_id}}" placeholder="Your ID" class="post-input"
    style="display:none">
  <button type="submit" name="add-button" id="add-post-button" >Add a post!</button>
</form>

<div class="posts-container">
  {{#each posts}}
  <div class="single-post">
    <div class="post-title">{{this.title}}</div>
    <div class="post-text">{{this.content_text}} </div>
    {{#if this.content_img_url }}
    <div class="img-container">
      <img src="{{this.content_img_url}}" alt="post-image" class="post-image">
    </div>
    {{/if}}
    <div class="author">
      Posted by: {{this.user_name}}
    </div>
  </div>
  {{/each}}

</div>
<script src="/index.js" charset="utf-8"></script>
